/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    font-family: 'Nanum Gothic', sans-serif;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}
form {
	margin: 16px 0px;
	padding: 0px;
}
section {
    width: 1800px;
}
#allModelsWrapper > section {
    width: 1220px;
    margin: 0 auto;
    padding-left: 40px;
}
.clear {
    clear: both;
    float: none;
    width: 0px;
    height: 0px;
}
input {
    font-size: 14px;
    padding: 1px;
    width: 200px;
    border-radius: 5px;
}
h2 {
    font-size: 16px;
}
h4 {
    font-size: 16px;
    margin: 4px 0px;
}
b {
    font-weight: 600;
}
.waitCursor {
    cursor: wait;
}
/*  TAB SECTION */


.formWrapperDisplayNone {
	display: none;
}
#emailWarningSecondPage1 {
    position: fixed;
    background-color: white;
    top: 350px;
    left:40%;
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    font-size: 30px;
    color: #1298e5;
    border: 3px solid #1298e5;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
#emailWarningSecondPage2 {
    position: fixed;
     background-color: white;
    left:40%;
    top: 350px;
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    font-size: 30px;
    color: red;
    border: 3px solid #1298e5;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
#emailWarningRelative1 {
    position: relative;
}
#emailWarningAbsolute1 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 275px;
    border-radius: 50%;
    background-color: #ffffff;
}
#emailWarningAbsolute1:hover  {
    cursor: pointer;
}
#emailWarningAbsolute1 img {
    width: 100%;
    height: auto;
    display: table-cell;
    z-index: 5;
}
#emailWarningRelative2 {
    position: relative;
}
#emailWarningAbsolute2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 275px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}
#emailWarningAbsolute2:hover  {
    cursor: pointer;
}
#emailWarningAbsolute2 img {
    width: 100%;
    height: auto;
    display: table-cell;
    z-index: 5;
}
#emailWarningSecondPage13 {
    position: fixed;
    background-color: white;
    top: 350px;
    left:40%;
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    font-size: 30px;
    color: #1298e5;
    border: 3px solid #1298e5;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
#emailWarningSecondPage23 {
    position: fixed;
    background-color: white;
    left:40%;
    top: 350px;
    width: 300px;
    height: 100px;
    text-align: center;
    font-weight: 600;
    line-height: 100px;
    font-size: 30px;
    color: red;
    border: 3px solid #1298e5;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
#emailWarningRelative13 {
    position: relative;
}
#emailWarningAbsolute13 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 275px;
    border-radius: 50%;
    background-color: #ffffff;
}
#emailWarningAbsolute13:hover  {
    cursor: pointer;
}
#emailWarningAbsolute13 img {
    width: 100%;
    height: auto;
    display: table-cell;
    z-index: 5;
}
#emailWarningRelative23 {
    position: relative;
}
#emailWarningAbsolute23 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -20px;
    left: 275px;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 5;
}
#emailWarningAbsolute23:hover  {
    cursor: pointer;
}
#emailWarningAbsolute23 img {
    width: 100%;
    height: auto;
    display: table-cell;
    z-index: 5;
}
#formWrapperTimber #emailWarningSecondPage13 h2,#formWrapperTimber #emailWarningSecondPage23 h2 {
    margin: 0px;
}
#mainWrapperTimber {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: white;
    color: #706F6F;
}
#wrapperForBannerTimber {
    background-image: url(../img/Banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
}
#wrapperForBannerTimber h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 26px;
    margin: 20px 0px 20px 0px;

}
#mainWrapperTimber #formWrapperTimber  {
   line-height: 22px;
}
#mainWrapperTimber #formWrapperTimber .largeInputsHeight {
    height: 22px;
}
#mainWrapperTimber #calcRow1Timber > div.activeTabTimber {
    background-color: #4f4f4f;
}
#calcRow1Timber > div.navMenuTimber {
    float: left;
    width: 180px;
    height: 111px;
    background-color: #000;
    border: 1px solid #7d8289;
    box-shadow: 0px 5px 10px #7d8289;
    display: block;
    align-items: center;
    border-radius: 10px;
}
#calcRow1Timber > div.navMenuTimber:hover {
    background-color: #c4c8ce;
}
#calcRow1Timber {
    margin: 0 auto;
    width: 540px;
}
#calcRow1Timber > div > p {
    margin: 16px 3px 0px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    width: 100%;
    color: #ffffff;
}
#calcRow1Timber > div > p:nth-child(2) {
    margin: 0px 3px 16px 0px;
}
#calcRow1Timber > div > h5 {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
#userDetailsPageTimber {
    /* display: none; */
    float: right;
    margin-top: 50px;
}
#logoWrapperTimber {
    float: left;
    margin-left: 40%;
    width: 270px;
    margin-top: 70px;
}
#firstLogoTimber, #secondLogoTimber, #thirdLogoTimber {
    width: 100%;
}
#firstLogoTimber img, #secondLogoTimber img, #thirdLogoTimber img {
    width: 100%;
}
.inputLabelTimber label {
    display: inline-block;
    width: 120px;
    text-align: right;
}
#sectionOneButtonTimber {
    margin: 20px 25% 20px 0px;
    float: right;
}
#h4SectionTimber {
    margin: 0px 25% 30px 0px;
    float: right;
}
#h4SectionTimber h4 {
    margin: 0px 0px 0px 62%;
    float: right;
}
#detailsFormWrappertimber {
    float: right;
    margin-right: 25%;
    margin-top: 70px;
}
/* END OF TAB SECTION */

/* ORDER SECTION */


#formWrapperTimber {
    background-color: white;
    color: #706F6F;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Yantramanav', sans-serif;
    width: 80%;
    min-width: 1210px;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 10px;
}
#logoDivTimber {
    width: 30%;
}
#logoDivTimber img {
    width: 100%;
}
#faxOrdersAndEmailTimber {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}
#faxOrdersAndEmailTimber h1 {
    font-size: 32px;
    margin: 22px 0px;
}
#faxOrdersAndEmailTimber h3 {
    font-size: 18px;
    margin: 6px 0px;
}
#twoCheckboxesTimber {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 630px;
    float: none;
}
#twoCheckboxesTimber input {
    width: 50px;
}
#twoCheckboxesTimber #firstLabelOrder {
    margin-left: 150px;
}
#firstFormTimber {
    margin-bottom: 30px;
    border: 1px solid black;
    width: 100%;
}
#formWrapperTimber h2 {
    font-size: 24px;
    margin: 22px 0px 22px 0px;
    text-align: center;
}
#firstForm1Timber {
    float: left;
    margin: 15px 0px 15px 0px;
}
#labelFloatedYourDetails {
    float: left;
    width: 120px;
    height: 100px;
    margin-left: 50px;
}
#firstInputsFloatedYourDetails {
    float: left;
}
#labelFloatedYourDetails p {
    height: 22px;
}
#firstForm2Timber {
    float: right;
}
#labelFloatedYourDetails2 {
    float: right;
    width: 120px;
    height: 100px;
    margin-left: 50px;
}
#firstInputsFloatedYourDetails2 {
    float: right;
    margin-right: 50px;
}
#labelFloatedYourDetails2 p {
    height: 22px;
}
#warrantyChekboxsesTimber {
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
}
#warrLabelId {
    margin-left: 50px;
    float: left;
}
#warChek1Timber {
    float: left;
}
#leftChekWarrTimber {
    float: left;
    margin-bottom: 20px;
}
#floatLeftId {
   float: left;
}
#warChek2Timber {
   float: left;
}
#formWrapperTimber input {
    height: 16px;
}
#leftChekWarrTimber .marginWarrClass {
    margin-left: 50px;
    margin-top: 10px;
}
#rightChekWarrTimber {
    float: right;
}
#doorDetailsWrapperTimber {
    border: 1px solid black;
    width: 100%;
}
#otyPId {
    margin-left: 30px;
}
#comAndDoorFormTimber {
    margin-left: 50px;
    padding: 5px 0px;
}
#comAndDoorFormTimber p {
    float: left;
}
#comAndDoorFormTimber input {
    float: left;
}
#comAndDoorForm2Timber {
    padding: 5px 0px;
}
#comAndDoorForm2Timber p {
    float: left;
}
#comAndDoorForm2Timber input {
    float: left;
}
#comAndDoorForm3Timber  {
    padding: 5px 0px;
}
#comAndDoorForm3Timber p {
    float: left;
}
#comAndDoorForm3Timber input {
    float: left;
}
#comAndDoorForm4Timber {
    margin-left: 50px;
    padding: 5px 0px;
}
#comAndDoorForm4Timber p {
    float: left;
}
#comAndDoorForm4Timber input {
    float: left;
    width: 120px;
}
#formWrapperTimber #comAndDoorForm4Timber #temporarySimpleOakInputTimber {
    width: 60px;
}
#comAndDoorForm5Timber {
    padding: 5px 0px;
    margin-left: 50px;
}
#doorDetailsForm5Timber p {
    float: left;
}
#doorDetailsForm5Timber input {
    float: left;
}
#comAndDoorFormTimber #secondInputCntimber {
    margin: 20px 0px 0px 50px;
}
#comAndDoorFormTimber #secondInputDColorTimber {
    margin: 0px 0px 0px 50px;
}
#secondInputOtyTimber {
    margin: 0px 0px 0px 20px;
}
#secondInputDoorSizeHightTimber {
    margin: 0px 0px 0px 50px;
}
#secondInputDoorWidthTimber {
    margin: 0px 0px 0px 20px;
}
#secondInputGlassTypeTimber {
    margin: 0px 0px 0px 50px;
}
#comAndDoorForm3Timber #glassType1Timber {
    margin-right: 50px;
}
#comAndDoorForm3Timber input {
    height: 16px;
}
#formWrapperTimber #doorDetailsWrapperTimber .marginClassInputs {
    margin-left: 10px;
}
#chekBoxesLockDetailsWrapper {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}
#chekBoxesLockDetailsWrapper input {
    width: 100px;
}
#secondFormTimber {
    margin: 20px 0px 20px 0px;
    border: 1px solid black;
    width: 100%;
}
#secondFormTimber #machChekboxTimber {
    margin: 0px 0px 0px 320px;
}
#secondFormTimber .secondFormClassFloatTimber {
    float: left;
}
#brandNameWrapper {
    float: left;
}
#doorLookWrapper1Timber {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 20px;
}
#doorLookWrapper1Timber > div {
    margin: 10px 20px 10px 12px;
}
#secondFormTimber h4 {
    margin: 0px;
}
#thirdAndForthFormTimber {
    width: 100%;
}
#thirdFormFloated1Timber {
    margin: 20px 0px 0px 0px;
}
#thirdFormFloated1 > div {
    float: left;
    margin: 25px 0px 0px 100px;
}
#mainWrapperTimber #thirdFormTimber {
    border: 1px solid black;
    margin-bottom: 20px;
}
#thirdFormTimber #rebatedPairsHeadTimber {
    float: none;
    margin-left: 0px;
}
#threeFloatedDivsRebatedPairs {
    width: 98%;
    height: 70px;
    margin: 0 auto;
}
#thirdFormTimber .floatedRebated {
    float: left;
}
#suppAndFitRebChekTimber {
    float: left;
    line-height: 70px;
    margin-left: 120px;
}
#thirdFormTimber #threeFloatedDivsRebatedPairs #onlyFitrebateMainTimber {
    float: right;
    line-height: 70px;
    margin-right: 20px;
}
#smallH4DivTimber {
    width: 30px;
    float: left;
    line-height: 70px;
    margin-left: 140px;
}
#thirdFormTimber #paragraphDivThirdFormTimber p {
    margin: 10px 0px 0px 10px;
}
#divForFloatRebatedTimber {
    border: 1px solid black;
}
#mainGraphDiv1Timber {
   float: left;
   margin: 20px 0px;
}
#rebatedFirstChekTimber {
    float: left;
    margin: 20px 0px 20px 200px;
    line-height: 36px;
}
#paragraphDivThirdFormTimber {
    float: right;
    width: 300px;
    height: 80px;
    margin-right: 70px;
}
#divForFistGraphTimber {
    float: left;
    margin: 7px 0px 0px 10px;
    align-items: baseline;
}
#divForFistGraph1Timber {
    height: 16px;
}
#mainGraphDiv2Timber {
    float: left;
    margin: 20px 0px;
}
#fourthFormTimber input {
    width: 60px;
}

#graphDiv1Timber {
    width: 200px;
    height: 22px;
    border: 2px solid black;
    float: left;
    margin-top: 7px;
}
#firstGraphDivTimber {
    width: 10px;
    height: 10px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 95px;
}
#firstGraphDiv2Timber {
    width: 10px;
    height: 10px;
    border-right: 2px solid black;
    margin-left: 95px;
}
#mainGraphDiv2 {
    text-align: center;
}
#graphDiv2Timber {
    width: 200px;
    height: 22px;
    border: 2px solid black;
    float: left;
    margin-top: 7px;
}
#divForFistGraph2Timber1 {
    float: left;
    margin-top: 7px;
    height: 16px;
}
#divForSecondGraphTimber {
    float: left;
    margin-top: 3px;
}
#divForSecondGraphTimber p {
    float: right;
    margin-top: 6px;
    margin-right: 10px;
}
#secondGraphDivTimber {
    width: 10px;
    height: 10px;
    margin-left: 95px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
#secondGraphDiv2Timber {
    width: 10px;
    height: 10px;
    margin-left: 95px;
    border-left: 2px solid black;
}
#divForFloatDoorOpenTimber {
    height: 74px;
    padding:22px 0px 22px 300px;
    margin-top: 20px;
    border-top:1px solid black;
}
#borderDiv {
    border-top: 1px solid black;
}
#borderDiv2 {
   border-right: 1px solid black;
   border-left: 1px solid black;
}
#divForFloatDoorOpenTimber p {
    float: left;
    line-height: 30px;
}
#divForFloatDoorOpenTimber input {
    height: 16px;
    float: left;
    margin-top:7px;
}
#divForFloatDoorOpenTimber > div {
    float: left;
    margin: 0px 0px 0px 100px;
}
#fourthFormTimber {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
#submitButtonOrderTimber {
    display: block;
    width: 100px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #DCDCDC;
}
#print2ButtonTimber {
    display: block;
    width: 100px;
    margin: 10px auto;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    background-color: #DCDCDC;
}
/* END OF ORDER SECTION */


.mainWrapper1TimberDoors .clear {
    clear: both;
    float: none;
    width: 0px;
    height: 0px;
}
.mainWrapper1TimberDoors {
    width: 550px;
    height:500px;
    background-color: white;
    margin:50px 20px 50px 20px;
   font-family: 'Nanum Gothic', sans-serif;
}
.codeTimberDoorsH2, #codeTimberDoorsEntrence, #codeTimberDoorsEntrence52 {
    width: 300px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    float: left;
}
.imgMainDiv,#imgMainEntrence,#imgMainEntrence52 {
    height: 400px;
    text-align: center;
    float: left;
    width: 165px;
    background-color: green;
}

img {
    width: 100%;
    height: auto;
}

.priceMain {
    width: auto;
    float: left;
    height: 400px;
    margin-left: 5px;
}
.priceMainGrayHeadline {
    height: 40px;
    width: 350px;
    background-color: #969a9e;
    color: #ffffff;
    border-radius: 10px 10px 0px 10px;
}
.headlineGray1,.headlineGray1Entrence,.headlineGray1Entrence52 {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.headlineGray2,.headlineGray2Entrence,.headlineGray2Entrence52 {
    width: 170px;
    line-height: 40px;
    text-align: center;
    margin-left: 20px;
    float: left;
    font-size: 18px;
}
.headlineGray3 {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
}
.twoLeftDivs {
    float: left;
    background-color: white;
    width: 270px;
    color: black;
}
.doorCode > div {
    height: 60px;
    line-height: 60px;
}
.doorCode  {
    float: left;
    width: 80px;
    text-align: center;
}
.doorCode h2 {
    font-size: 14px;
}
.availebleTimbers {
    float: left;
    width: 170px;
    text-align: center;
    margin-left: 20px;
    font-size: 20px;
}
.availebleTimbers > div {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#glazingSubbDiv {
    width: 400px;
    height: 40px;
    margin-left: 170px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.oneRightDiv {
    float: left;
    width: 80px;
    text-align: center;
    background-color: #d3cdcb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.oneRightDiv > div {
    height: 60px;
    text-align: center;
    line-height: 60px;
}
section > div {
    float: left;
}
#thirdAndForthFormTimber #idClassClear1 {
    display: none;
}
#divForFloatDoorOpenTimber #idClassClear2 {
    display: none;
}
#mainWrapperTimber #all_codes_main .inlineClass {
    display: inline-block;
    width: 120px;
    /*height: 30px;*/
    text-align: center;
    font-size: 12px;
    float: none;
    line-height: 20px;
}
#mainWrapperTimber #all_codes_main .inlineClass:hover {
    cursor: pointer;
    background-color:#706f6f;
    color: #fff;
}
#all_codes_main {
    display: none;
    position: fixed;
    width: 382px;
    top: 180px;
    left: 1px;
    background-color: white;
    color:black;
    text-align: center;
    font-size: 18px;
    padding: 0px;
}
#all_codes_main h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#all_codes_main h1:hover {
    cursor: pointer;
}
#all_codes_all_codes {
    border: 2px solid black;
    border-radius: 5px;
    width: 380px;
    /*display: none;*/
}
#all_codes_all_codes h3 {
    text-align: left;
    padding: 10px;
    background-color: #ededed;
    font-weight: 600;
}
#all_codes_all_codes h4 {
    font-size: 12px;
    margin: 1px 0px;
}
/*  entrence timber doors */


/*#mainWrapperEntrance {
    width: 1010px;
    height:500px;
    background-color: white;
    margin:50px 20px 50px 250px;
    font-family: 'Roboto', sans-serif;
}
.priceMainGrayHeadlineEntrence {
    height: 40px;
    width: 840px;
    background-color: #969a9e;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}
.headlineGray3Entrence {
    width: 120px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.headlineGray4Entrence,.headlineGray5Entrence,.headlineGray6Entrence {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
}
.headlineGray4Entrence {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
    margin-left: 10px;
}
.headlineGray5Entrence,.headlineGray6Entrence {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
    margin-left: 10px;
}
.availebleTimbersEntrence {
    float: left;
    width: 230px;
    text-align: center;
    margin-left: 50px;
    font-size: 16px;
}
#emptyRightDivEntrence {
    float: left;
    height:360px;
    width:120px;
    text-align: center;
}
#firstRightDivEntrence,#secondRightDivEntrence {
    float: left;
    width: 80px;
    text-align: center;
    background-color: #d3cdcb;
    border-radius: 10px;
    border-radius: 10px;
}
#thirdRightDivEntrence {
    float: left;
    width: 80px;
    text-align: center;
    background-color: #d3cdcb;
    border-radius: 10px;
    border-radius: 10px;
    margin-left: 10px;
}
.twoLeftDivsEntrence {
    float: left;
    background-color: white;
    width: 830px;
    color: black;
}
#firstRightDivEntrence > div,#secondRightDivEntrence > div,#thirdRightDivEntrence > div  {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#firstRightDivEntrence {
    margin-left: 50px;
    margin-top: -100px;
    height: 460px;
}
#thirdRightDivEntrence {
    margin-left: 10px;
    margin-top: -100px;
    height: 460px;
}
#secondRightDivEntrence {
    margin-left: 10px;
    margin-top: -100px;
    height: 460px;
}
#mainWrapperEntrance #firstRightDivEntrence #price1FrEmptyEntrence_E1,#mainWrapperEntrance #secondRightDivEntrence #price1ScEmptyEntrence_E1,#mainWrapperEntrance #thirdRightDivEntrence #price1TrEmptyEntrence_E1 {
    height: 40px;
    color: #ffffff;
    background-color: #969a9e;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}*/



/*  entrence timber doors 52 */


/*#mainWrapperEntrance52 {
    width: 1010px;
    height:500px;
    background-color: white;
    margin:50px 20px 50px 250px;
    font-family: 'Roboto', sans-serif;
}
#codeH552 {
    height: 25px;
    width: 100px;
    line-height: 25px;
    text-align: center;
}
#mainWrapperEntrance52 #codeH552 h5 {
    font-size: 14px;
}
#mainWrapperEntrance52 #codeTimberDoorsEntrence52 {
    margin-bottom: -20px;
}
.priceMainGrayHeadlineEntrence52 {
    height: 40px;
    width: 760px;
    background-color: #969a9e;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}*/
/*.headlineGray3Entrence52 {
    width: 120px;
    float: left;
    text-align: center;
    line-height: 40px;
}
.headlineGray4Entrence52,.headlineGray5Entrence52 {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
}
.headlineGray4Entrence52 {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
    margin-left: 10px;
}
.headlineGray5Entrence52 {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
    margin-left: 10px;
}*/
/*.availebleTimbersEntrence52 {
    float: left;
    width: 230px;
    text-align: center;
    margin-left: 50px;
    font-size: 16px;
}
#emptyRightDivEntrence52 {
    float: left;
    height:360px;
    width:120px;
    text-align: center;
}
#firstRightDivEntrence52,#secondRightDivEntrence52 {
    float: left;
    width: 80px;
    text-align: center;
    background-color: #d3cdcb;
    border-radius: 10px;
    border-radius: 10px;
}
.twoLeftDivsEntrence52 {
    float: left;
    background-color: white;
    width: 830px;
    color: black;
}
#firstRightDivEntrence52 > div,#secondRightDivEntrence52 > div {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#firstRightDivEntrence52 {
    margin-left: 50px;
    margin-top: -100px;
    height: 460px;
}
#secondRightDivEntrence52 {
    margin-left: 10px;
    margin-top: -100px;
    height: 460px;
}
#mainWrapperEntrance52 #firstRightDivEntrence52 #price1FrEmptyEntrence_E152,#mainWrapperEntrance52 #secondRightDivEntrence52 #price1ScEmptyEntrence_E152 {
    height: 40px;
    color: #ffffff;
    background-color: #969a9e;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}*/
/* frame */
#formWrapperTimber #headLineOrderTimber {
    width: 100%;
    margin: 0 auto;
    float: none;
}
/*#mainWrapperEntranceFrame {
    width: 600px;
    height:750px;
    background-color: white;
    margin:50px 20px 50px 500px;
    font-family: 'Roboto', sans-serif;
}
#codeTimberDoorsEntrenceFrame {
	width: 100px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
}
#imgMainEntrenceFrame {
	height: 400px;
    width: 100px;
    background-color: green;
    margin: 0 auto;
    margin-bottom: 20px;
}
.priceMainGrayHeadlineEntrenceFrame {
    height: 40px;
    width: 530px;
    background-color: #969a9e;
    color: #ffffff;
    border-radius: 10px 10px 0px 10px;
}*/
/*.headlineGray1EntrenceFrame {
    width: 120px;
    line-height: 40px;
    text-align: center;
    float: left;
    font-size: 18px;
}
.headlineGray2EntrenceFrame {
    width: 230px;
    line-height: 40px;
    text-align: center;
    margin-left: 50px;
    float: left;
    font-size: 18px;
}
.headlineGray3EntrenceFrame {
    width: 80px;
    line-height: 40px;
    text-align: center;
    float: right;
    font-size: 18px;
}*/
/*.twoLeftDivsEntrenceFrame {
	float: left;
    background-color: white;
    width: 530px;
    color: black;
}
.doorCodeEntrenceFrame {
    float: left;
    width: 120px;
    text-align: center;
}
.doorCodeEntrenceFrame > div {
	height: 60px;
    line-height: 60px;
}
.availebleTimbersEntrenceFrame {
    float: left;
    width: 230px;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
}
.availebleTimbersEntrenceFrame > div {
    height: 60px;
    line-height: 60px;
    text-align: center;
}
#firstRightDivEntrenceFrame {
    float: right;
    width: 80px;
    text-align: center;
    background-color: #d3cdcb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#firstRightDivEntrenceFrame > div {
    height: 60px;
    text-align: center;
    line-height: 60px;
}*/


/*   claculator   */


#formShareMailTimber {
	float: right;
	position: fixed;
	top:200px;
	left: 80%;
	width: 16%;
	min-width: 175px;
	padding: 10px;
	background-color: white;
	color: #706F6F;
	border-radius: 5px;
}
.borderedTimber {
	border: 2px solid black;
	border-radius: 5px;
	margin: 10px 0px;
}
#calcInputsDivTimber {
    position: relative;
}
#calcInputsDivTimber .borderedTimber h3,#calcInputsDivTimber .borderedTimber span,#calcInputsDivTimber .borderedTimber p,#calcInputsDivTimber .borderedTimber label {
    margin-left: 5px;
}
.borderedTimber select {
	display: block;
	width: 100%;
	font-size: 16px;
}
#doorHeightTimber1 {
    margin-top: 3px;
}
#doorWidthTimber1 {
    margin-bottom: 3px;
}
#formShareMailTimber #glassH3andPDiv  span {
    margin-left:25px ;
    padding-right: 5px;
    padding-left: 5px;
    background-color:#6d665d;
	color:#ff9000;
}
#formShareMailTimber #glassH3andPDiv  span:hover {
    background-color:#00296b;
    cursor: pointer;
}
#paragraphDivGlassCalcRelative {
	position: relative;
}
#paragraphDivGlassCalcAbsolute {
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	background-color:#6d665d;
	color:#ff9000;
    padding: 10px;
}
.inputHeightWidthTimber label {
	display: inline-block;
	width: 65%;
}
.inputHeightWidthTimber input {
	width: 25%;
}
#mailButtonTimber, #printButtonTimber {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	background-color: #DCDCDC;
}
#mailButtonTimber:hover, #printButtonTimber:hover {
	cursor: pointer;
	background-color: #f2efef;
}
#mailButtonTimber span, #printButtonTimber span {
	font-size: 14px;
	font-weight: 500;
}
#printButtonTimber {
	margin-top: 10px;
}
#calcInputsDiv h3 {
    font-size: 18px;
    margin: 6px 0px;
}
#calcInputsDiv h5 {
    font-size: 13px;
    margin: 2px 2px;
}
#fifthFormTimber {
    width: 100%;
}
#absoluteTriangleDiv {
	display: none;
}
#secondFormTimber  #doorLookWrapper1Timber #h1IdSpan {
    display: none;
}
#secondFormTimber #heightInputTimber {
    margin-top: -12px;
}
#secondFormTimber #heightInputTimber #h3IdSpan {
    font-size: 14px;
}
#all_pages_warrenty_warning {
   font-size: 20px;
   margin-top: 10px;
   padding-bottom: 10px;
}
#all_pages_warrenty_warning:hover {
    cursor: pointer;
}
#all_pages_warrenty_warning p {
    color:#ffee00;
    font-weight: 600;
}
#all_pages_warrenty_warning a {
    text-decoration: none;
}
#all_pages_warrenty_warning1 {
    font-size: 20px;
    margin-top: 10px;
   padding-bottom: 10px;
}
#all_pages_warrenty_warning1:hover {
    cursor: pointer;
}
#all_pages_warrenty_warning1 p {
    color:#ffee00;
    font-weight: 600;
}
#all_pages_warrenty_warning1 a {
    text-decoration: none;
}


#entrance_door_models_title {
    text-align: center;
    font-size: 28px;
    color: #ffae00;
}

#internal_door_models_title {
    text-align: center;
    font-size: 28px;
    color: #ffae00;
}

@media (max-width:1850px) {
	.mainWrapper1TimberDoors {
		min-width: 610px;
	}
    .priceMain {
        margin-left: 30px;
    }
    .twoLeftDivs {
        width: 400px;
    }
    .headlineGray2 {
        margin-left: 30px;
        width:200px;
        font-size:16px;
    }
    .availebleTimbers {
        margin-left: 30px;
        width: 200px;
        font-size: 18px;
    }
    .priceMainGrayHeadline {
        width: 480px;
    }
    #detailsFormWrappertimber {
        margin-right: 20%;
    }
    #logoWrapperTimber {
        margin-left: 45%;
    }
    #h4SectionTimber {
        margin-right: 20%;
    }
    #sectionOneButtonTimber {
    margin-right:20%;
    float: right;
    }
}
@media (max-width:1750px) {
    .priceMain {
        margin-left: 2px;
    }
    .mainWrapper1TimberDoors {
        max-width: 620px;
    }
    .twoLeftDivs {
        width: 370px;
    }
    .headlineGray2 {
        margin-left: 0px;
        width:170px;
        font-size:16px;
    }
    .availebleTimbers {
        margin-left: 0px;
        width: 170px;
        font-size: 18px;
    }
    .priceMainGrayHeadline {
        width: 450px;
    }
    #detailsFormWrappertimber {
        margin-right: 20%;
    }
    #logoWrapperTimber {
        margin-left: 45%;
    }
    #h4SectionTimber {
        margin-right: 20%;
    }
    #sectionOneButtonTimber {
    margin-right:20%;
    float: right;
    }
}
@media (max-width:1650px) {
     .priceMain {
        margin-left: 5px;
    }
    .mainWrapper1TimberDoors {
       max-width: 500px;
    }
    .twoLeftDivs {
        width: 300px;
    }
    .headlineGray2 {
        margin-left: 0px;
        width:170px;
        font-size:16px;
    }
    .availebleTimbers {
        margin-left: 0px;
        width: 170px;
        font-size: 16px;
    }
    .priceMainGrayHeadline {
        width: 380px;
    }
    #detailsFormWrappertimber {
        margin-right: 18%;
    }
    #logoWrapperTimber {
        margin-left: 48%;
    }
    #h4SectionTimber {
        margin-right: 18%;
    }
    #sectionOneButtonTimber {
    margin-right:18%;
    float: right;
}
}
@media (max-width:1550px) {
	.mainWrapper1TimberDoors {
		min-width: 750px;
        margin:30px 0px 30px 20%;
        float: none;
    }
    .priceMain {
        margin-left: 30px;
    }
    .twoLeftDivs {
        width: 450px;
    }
    .headlineGray2 {
        margin-left: 50px;
        width:230px;
        font-size:18px;
    }
    .availebleTimbers {
        margin-left: 50px;
        width: 230px;
        font-size: 20px;
    }
    .priceMainGrayHeadline {
        width: 530px;
    }
    #detailsFormWrappertimber {
        margin-right: 17%;
    }
    #logoWrapperTimber {
        margin-left: 50%;
    }
    #h4SectionTimber {
        margin-right: 17%;
    }
    #sectionOneButtonTimber {
    margin-right:17%;
    float: right;
}
}
@media (max-width:1500px) {
	.mainWrapper1TimberDoors {
        margin-left:18%;
    }
	#formShareMailTimber {
    top: 50px;
	}
    #detailsFormWrappertimber {
        margin-right: 15%;
    }
    #logoWrapperTimber {
        margin-left: 51%;
    }
    #h4SectionTimber {
        margin-right: 15%;
    }
    #sectionOneButtonTimber {
    margin-right:15%;
    float: right;
}
}
@media (max-width:1420px) {
	.mainWrapper1TimberDoors {
        margin-left:14%;
    }
    #detailsFormWrappertimber {
        margin-right: 14%;
    }
    #logoWrapperTimber {
        margin-left: 53%;
    }
    #h4SectionTimber {
        margin-right: 14%;
    }
    #sectionOneButtonTimber {
	    margin-right:14%;
	    float: right;
    }
    #faxOrdersAndEmailTimber {
    	margin-left: 8%;
    }
    #firstFormTimber {
        width: 80%;
        margin-left:8%;
    }
    #warrantyChekboxsesTimber {
        width:80%;
        margin-left:8%;
    }
    #doorDetailsWrapperTimber {
        width:80%;
        margin-left:8%;
    }
    #doorDetailsWrapperTimber input {
        width: 15%;
    }
    #temporarySimpleOakTimber {
    	margin-top: 10px;
    }
    #formWrapperTimber #comAndDoorForm4Timber #temporarySimpleOakInputTimber {
        margin-top: 12px;
    }
    #secondFormTimber {
    	width: 80%;
    	margin-left: 8%;
    }
    #secondFormTimber #machChekboxTimber {
        margin-left:20% ;
    }
    #thirdFormTimber {
    	width: 80%;
    	margin-left: 8%;
    }
    #suppAndFitRebChekTimber {
    	width: 30%;
    	margin-left: 3%;
    }
    #thirdFormTimber input {
    	width: 15%;
    	float: left;
    	margin-top: 27px;
    }
    #smallH4DivTimber {
    	margin-left: 10%;
    }
    #onlyFitrebateMainTimber {
    	width: 30%;
    }
    #divForFloatRebatedTimber {
        width: 100%;
    }
    #rebatedFirstChekTimber {
    	margin-left: 10%;
    }
    #borderDiv2,#divForFloatDoorOpenTimber {
    	width: 100%;
    }
    #fourthFormTimber {
    	width: 80%;
    	margin-left: 8%;
    }
    #divForFloatDoorOpenTimber {
        padding-left: 12%;
    }
    #fifthFormTimber {
    	width: 80%;
    	margin-left: 8%;
    }
    #logoDivTimber {
       margin-left: 8%;
    }
}
@media (max-width:1360px) {
	.mainWrapper1TimberDoors {
        margin-left:10%;
    }
    #detailsFormWrappertimber {
        margin-right: 13%;
    }
    #logoWrapperTimber {
        margin-left: 54%;
    }
    #h4SectionTimber {
        margin-right: 13%;
    }
    #sectionOneButtonTimber {
    margin-right:13%;
    float: right;
}
}
@media (max-width:1300px) {
	.mainWrapper1TimberDoors {
        margin-left:6%;
    }
    #firstFormTimber,#warrantyChekboxsesTimber,#secondFormTimber,#secondFormTimber,#doorDetailsWrapperTimber,#thirdFormTimber,#fourthFormTimber,#logoDivTimber,#faxOrdersAndEmailTimber,#fifthFormTimber {
        margin-left:4%;
    }
    #detailsFormWrappertimber {
        margin-right: 10%;
    }
    #logoWrapperTimber {
        margin-left: 56%;
    }
    #h4SectionTimber {
        margin-right: 10%;
    }
    #sectionOneButtonTimber {
    margin-right:10%;
    float: right;
}
@media (max-width:1200px) {
	 #firstFormTimber,#warrantyChekboxsesTimber,#secondFormTimber,#secondFormTimber,#doorDetailsWrapperTimber,#thirdFormTimber,#fourthFormTimber,#logoDivTimber,#faxOrdersAndEmailTimber,#fifthFormTimber {
        margin-left:1%;
    }
    #firstFormTimber,#warrantyChekboxsesTimber,#secondFormTimber,#secondFormTimber,#doorDetailsWrapperTimber,#thirdFormTimber,#fourthFormTimber,#faxOrdersAndEmailTimber,#fifthFormTimber {
        width: 75%;
    }
    #doorDetailsForm3Timber input {
    	width: 10%;
    }
    #warrantyChekboxsesTimber p {
        font-size: 14px;
    }
    #detailsFormWrappertimber {
        margin-right: 8%;
    }
    #logoWrapperTimber {
        margin-left: 58%;
    }
    #h4SectionTimber {
        margin-right: 8%;
    }
    #sectionOneButtonTimber {
        margin-right:8%;
        float: right;
    }
}
@media (max-width:1090px) {
	#firstFormTimber,#warrantyChekboxsesTimber,#secondFormTimber,#secondFormTimber,#doorDetailsWrapperTimber,#thirdFormTimber,#fourthFormTimber,#logoDivTimber,#fifthFormTimber {
        margin-left:0%;
    }
    #firstFormTimber,#warrantyChekboxsesTimber,#secondFormTimber,#secondFormTimber,#doorDetailsWrapperTimber,#thirdFormTimber,#fourthFormTimber,#fifthFormTimber {
        width: 70%;
    }
    #warrantyChekboxsesTimber input {
        width:10%;
        margin-left: 20px;
    }
    #rightChekWarrTimber {
    	margin-right: 20px;
    }
	.mainWrapper1TimberDoors {
        margin-left:2%;
    }
    #detailsFormWrappertimber {
        margin-right: 6%;
    }
    #logoWrapperTimber {
        margin-left: 60%;
    }
    #h4SectionTimber {
        margin-right: 6%;
    }
    #sectionOneButtonTimber {
        margin-right:6%;
        float: right;
}

@media (max-width:1024px) {
	#calcRow1Timber {
        width: 100%;
    }
    #calcRow1Timber > div.navMenuTimber {
	    float: none;
	    width: 100%;
	    height: 100px;
	    box-shadow:none;
    }
    #wrapperForBannerTimber #calcRow1Timber > div > p {
	    margin:30px 0px 0px 0px;
	    font-size: 32px;
	    display: inline-block;
	    word-spacing:20px;
	    word-break: break-all;
	    width:120px;
    }
    #calcRow1Timber > div > h5 {
        display: none;
    }
    #detailsFormWrappertimber {
        margin-right:3%;
    }
    #logoWrapperTimber {
        margin-left: 64%;
    }
    #h4SectionTimber {
        margin-right: 3%;
    }
    #sectionOneButtonTimber {
        margin-right:3%;
        float: right;
    }
    #formShareMailTimber {
    	top: 1%;
    	margin-top: 0px;
    	left: 70%;
    	width: 30%;
    	position: absolute;
    }
    .mainWrapper1TimberDoors {
        margin: 0 auto;
        float: none;
    }
     #formShareMailTimber {
    	top: 400px;
    	margin-top: 0px;
    	left: 20%;
    	float: none;
    	width: 60%;
    	position: absolute;
    }
    #absoluteTriangleDiv {
    	display: block;
    	position: absolute;
    	top: 20px;
    	left: -40px;
    	width: 0;
	    height: 0;
	    border-top: 70px solid #f98e03;
	    border-right: 70px solid transparent;
	    transform: rotate(-45deg);
    }
    #faxOrdersAndEmailTimber  {
		text-overflow: ellipsis;
		width: 100%;
		margin-top: 30px;
    }
    #faxOrdersAndEmailTimber  h2 {
        margin: 0 auto;
    }
    #formWrapperTimber {
	    width:auto;
	    min-width: 0px;
    }
    #logoDivTimber {
    	width: 320px;
    }
    #firstFormTimber {
    	width: 100%;
    }
    #firstForm1Timber {
    	float: none;
    	width: 420px;
    	margin: 0 auto;
    	height: 70px;
    	margin-bottom: 15px;
    }
    #firstForm2Timber {
    	float: none;
    	width: 420px;
    	margin: 0 auto;
    	height: 70px;
    }
    #labelFloatedYourDetails {
		height: auto;
    }
    #warrLabelId {
    	float: none;
    	margin: 0 auto;
    	text-align: center;
    	margin-bottom: 10px;
    	font-weight: 600;
    }
    #warrLabelId span {
    	display: none;
    }
    #leftChekWarrTimber {
    	width: 100%;
    	float: none;
    	text-align: center;
    }
    #warrantyChekboxsesTimber #warChek1Timber {
    	float: none;
    	margin: 0 auto;
    	height: 24px;
    	width: 24px;
    }
    #warrantyChekboxsesTimber {
    	width: 100%;
    }
    #rightChekWarrTimber {
    	float: none;
    	width: 100%;
    	text-align: center;
    	margin-bottom: 20px;
    }
    #floatLeftId {
    	float: none;
    	margin-bottom: 10px;
    	font-weight: 600;
    }
    #floatLeftId span {
    	display: none;
    }
    #rightChekWarrTimber #warChek2Timber {
    	float: none;
    	width: 24px;
    	height: 24px;
    	margin: 0px;
    }
    #leftChekWarrTimber .marginWarrClass {
	    margin: 0 auto;
	    margin-top: 10px;
    }
    #doorDetailsWrapperTimber {
    	width: 100%;
    }
    #comAndDoorFormTimber {
    	margin: 0 auto;
    	width: 100%;
    }
    #mainWrapperTimber #pPlusInputDoorDet4,#mainWrapperTimber #pPlusInputDoorDet5,#mainWrapperTimber #pPlusInputDoorDet6 {
    	margin: 0 auto;
    	width: 320px;
    	float: none;
    	height: 25px;
    }
    #mainWrapperTimber #pPlusInputDoorDet3,#mainWrapperTimber #pPlusInputDoorDet2,#mainWrapperTimber #pPlusInputDoorDet1 {
        display: inline-block;
        float: none;
        width: 440px;
        margin: 0px;
        background-color: red;
    }
    #mainWrapperTimber #comAndDoor  #pPlusInputDoorDet3 p,#mainWrapperTimber #pPlusInputDoorDet2 p,#mainWrapperTimber #pPlusInputDoorDet1 p {
        display: inline-block;
        float: none;
    }
    #mainWrapperTimber #pPlusInputDoorDet3 input,#mainWrapperTimber #pPlusInputDoorDet2 select,#mainWrapperTimber #pPlusInputDoorDet1 input {
        display: inline-block;
        float: none;
    }
    #pPlusInputDoorDet1Son2 {
    	float: left;
    }
    #comAndDoorFormTimber p {
        float: none;
        margin-left: 0px;
    }
    #pPlusInputDoorDet1Son1 {
    	float: left;
    	width: 130px;
    }
    #doorDetailsWrapperTimber input {
        width: 194px;
    }
    #comAndDoorFormTimber  #secondInputDColorTimber {
    	margin: 0px;
    }
    #doorDetailsWrapperTimber #doorColorTimber {
    	display: inline-block;
        width: 200px;
    }
    #pPlusInputDoorDet1Son3 {
    	float: left;
    	width: 130px;
    }
    #pPlusInputDoorDet1Son4 {
    	float: left;
    }
    #pPlusInputDoorDet1Son5 {
    	float: left;
    	width: 130px;
    }
    #pPlusInputDoorDet1Son6 {
    	float: left;
    }
    #pPlusInputDoorDet1Son7 {
    	float: left;
    	width:130px;
    }
    #secondInputDoorSizeHightTimber {
    	margin: 0px;
    }
    #pPlusInputDoorDet1Son8 {
    	float: left;
    }
    #pPlusInputDoorDet1Son9 {
        float: left;
        width: 130px;
    }
    #secondInputDoorWidthTimber {
        margin: 0px;
    }
    #pPlusInputDoorDet1Son10 {
        float: left;
    }
    #pPlusInputDoorDet1Son11 {
    	float: left;
        width: 130px;
    }
    #pPlusInputDoorDet1Son11 {
    	float: left;
    }
    #secondInputGlassTypeTimber {
        margin: 0px;
    }
    #pPlusInputDoorDet7, #pPlusInputDoorDet8,#pPlusInputDoorDet9, #pPlusInputDoorDet10,#pPlusInputDoorDet11,#pPlusInputDoorDet12,#pPlusInputDoorDet13 {
    	margin: 0 auto;
    	width: 100%;
    	float: none;
    	text-align: center;
    }
    #pPlusInputDoorDet11 {
    	text-overflow: ellipsis;
    }
    #pPlusInputDoorDet11 p {
    	margin: 0 auto;
    }
    #pPlusInputDoorDet7 span , #pPlusInputDoorDet8 span {
        display: none;
    }
    #comAndDoorForm3Timber p {
        float: none;
    }
    #pPlusInputDoorDet7 p {
        padding-top: 6px;
    }
    #comAndDoorForm5Timber #hungOnRightTimber {
        padding-top: 6px;
    }
    #doorDetailsWrapperTimber #glassOnHingeSideTimber {
        float: none;
        width: 24px;
        height: 24px;
    }
    #doorDetailsWrapperTimber #glassOnLockSideTimber {
        float: none;
        width: 24px;
        height: 24px;
    }
    #comAndDoorForm4Timber p {
        float: none;
    }
    #comAndDoorForm4Timber span {
        display: none;
    }
    #doorDetailsWrapperTimber #doorViewerInputTimber,#doorDetailsWrapperTimber #extrProtWrapInputTimber,#doorDetailsWrapperTimber #temporarySimpleOakInputTimber {
        float: none;
        width: 24px;
        height: 24px;
    }
    #comAndDoorForm4Timber {
    	margin: 0 auto;
    	width: 100%;
	    margin-left: 0px;
    }
    #doorDetailsForm4Timber {
    	width: 100%;
    }
    #doorDetailsForm5Timber p {
        float: none;
    }
    #doorDetailsWrapperTimber #doorDetailsForm5Timber input {
        float:none;
        width: 24px;
        height: 24px;
    }
    #doorDetailsForm5Timber span {
        display: none;
    }
    #comAndDoorForm5Timber {
        margin-left: 0px;
    }
    #secondFormTimber #machChekboxTimber {
        margin: 0 auto;
        float: none;
    	width: 440px;
    	text-align: center;
    }
    #secondFormTimber {
    	width: 100%;
    }
    #chekBoxesLockDetailsWrapper {
	    width: 100%;
    }
    #secondFormTimber #machChekboxTimber p {
    	float: none;
    	width: 100%;
    	margin: 0 auto;
    }
    #secondFormTimber #machChekboxTimber input {
    	width: 24px;
    	height: 24px;
    }
    #secondFormTimber #machChekboxTimber span {
    	display: none;
    }
    #secondFormTimber #LockAndSuppCheboxTimber {
    	margin: 0 auto;
        float: none;
    	width: 440px;
    	text-align: center;
    }
    #secondFormTimber #LockAndSuppCheboxTimber p {
        float: none;
    }
    #secondFormTimber #LockAndSuppCheboxTimber span {
       display: none;
    }
    #secondFormTimber #LockAndSuppCheboxTimber input {
        width: 24px;
    	height: 24px;
    }
    #doorLookWrapper1Timber {
	    width: 100%;
    }
    #doorLookWrapper1Timber > div {
        margin: 0 auto;
        width: 400px;
        float: none;
    }
    #secondFormTimber #brandNameTimber {
    	float: none;
    	width: 440px;
    	margin: 0 auto;
    }
    #secondFormTimber h4 {
        float: left;
        width: 140px;
    }
    #secondFormTimber #doorLookWrapper1Timber input {
        float: left;
        width: 194px;
    }
    #secondFormTimber #codeInputTimber {
        float: none;
    }
    #secondFormTimber .secondFormClassFloatTimber {
        float: none;
    }
    #secondFormTimber  #doorLookWrapper1Timber #h3IdSpan {
    	font-size: 14px;
    }
    #secondFormTimber  #doorLookWrapper1Timber #h2IdSpan {
    	display: none;
    }
    #secondFormTimber  #doorLookWrapper1Timber #h1IdSpan {
    	display:inline-block;
    }
    #thirdAndForthFormTimber {
    	width: 100%;
    }
    #thirdFormTimber {
    	width: 100%;
    	margin: 0 auto;
    }
    #threeFloatedDivsRebatedPairs {
		width: 100%;
		height: auto;
		text-align: center;
    }
    #suppAndFitRebChekTimber {
	    width: 100%;
	    margin: 0 auto;
	    float: none;
    }
    #thirdFormTimber #suppAndFitRebChekTimber p {
    	float: none;
    	height: auto;
    	line-height:25px;
    }
    #suppAndFitRebChekTimber {
    	line-height: 25px;
    }
    #thirdFormTimber input {
	    width:24px;
	    height: 24px;
	    float: none;
	    margin:0 auto;
    }
    #smallH4DivTimber {
	    width: 100%;
	    float: none;
	    line-height:25px;
	    margin:0 auto;
        font-weight: 600;
    }
    #thirdFormTimber #threeFloatedDivsRebatedPairs #onlyFitrebateMainTimber {
	    float: none;
	    line-height: 25px;
	    margin:0 auto;
	    width: 100%;
    }
    #thirdFormTimber .floatedRebated {
        float: none;
    }
    #paragraphDivThirdFormTimber {
	    float: none;
	    width: 100%;
	    height: auto;
	    margin:0 auto;
	    text-align: center;
    }
    #thirdFormTimber span {
    	display: none;
    }
    #thirdFormTimber #paragraphDivThirdFormTimber p {
        margin:0 auto;
        margin-bottom: 15px;
    }
    #fourthFormTimber {
        width: 100%;
    }
    #rebatedFirstChekTimber {
        float: none;
        margin:0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    #mainGraphDiv1Timber {
        float:none;
        margin:0 auto;
        margin-bottom: 20px;
        height: 50px;
        width: 280px;
    }
    #mainGraphDiv2Timber {
        float:none;
        margin:0 auto;
        height: 50px;
        width: 280px;
    }
    #thirdAndForthFormTimber #idClassClear1 {
        display: block;
    }
    #divForSecondGraphTimber p {
        display: none;
    }
    #formWrapperTimber #divForFistGraph2Timber1 {
        width: 24px;
        height: 24px;
    }
    #formWrapperTimber #divForFistGraph2Timber1 {
        width: 24px;
        height: 24px;
    }
    #divForFistGraphTimber {
        margin: 7px 10px 0px 0px;
    }
    #divForSecondGraphTimber {
        margin-right: 10px;
    }
    #graphDiv1Timber {
        margin-top: 15px;
    }
    #graphDiv2Timber {
        margin-top: 10px;
    }
    #divForFloatDoorOpenTimber {
        padding-left: 0%;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    #borderDiv2 {
        width: 100%;
        margin-top: 20px;
    }
    #divForFloatDoorOpenTimber #doorOpensInChekTimber {
        float: none;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        text-align: center;
    }
    #divForFloatDoorOpenTimber p {
        float: none;
        line-height: 10px;
        margin-top: 15px;
    }
    #divForFloatDoorOpenTimber input {
        height: 24px;
        float: none;
        margin-top: 15px;
    }
    #divForFloatDoorOpenTimber #doorOpensOutChekTimber {
        float: none;
        width: 100%;
        margin: 0 auto;
        height: 50px;
        text-align: center;
    }
    #divForFloatDoorOpenTimber #idClassClear2 {
        display: block;
    }
    #fourthFormTimber #doorOpensInChekTimber span {
        display: none;
    }
    #fourthFormTimber #doorOpensOutChekTimber span {
        display: none;
    }
    #fifthFormTimber {
        width: 100%;
    }
    #comAndDoorForm2Timber {
        padding: 0px;
    }
    #comAndDoorForm3Timber {
        padding:0px;
    }
    #comAndDoorForm3Timber #glassType1Timber {
        margin-right: 0px;
    }
    #pPlusInputDoorDet7,#pPlusInputDoorDet8,#pPlusInputDoorDet12,#pPlusInputDoorDet13 {
        background-color:#e5e5e5;
    }
}
@media (max-width:890px) {
	.mainWrapper1TimberDoors {
        margin-left: 2.5%;
    }
}
@media (max-width:800px) {
	#userDetailsPageTimber {
	    /* display: none; */
	    float: none;
	    margin-top: 50px;
	    width: 98%;
    }
    #logoWrapperTimber {
    	margin: 0 auto;
    	width: 98%;
    }
    #firstLogoTimber {
	    float: none;
	    margin:0 auto;
	    width: 320px;
	    margin-bottom: 30px;
    }
    #detailsFormWrappertimber {
	    float: none;
	    margin: 0 auto;
	    width: 320px;
    }
    #sectionOneButtonTimber {
    	float: none;
    	width: 100px;
    	height: 30px;
    	margin: 0 auto;
    	margin-top: 20px;
    	margin-bottom: 20px;
    	font-weight: 600;
    	font-size: 20px;
    	border-radius: 5px;
    }
    #h4SectionTimber {
        float: none;
    	width: 320px;
    	margin: 0 auto;
    	margin-bottom: 50px;
    }
    #h4SectionTimber h4 {
	    margin: 0px;
	    float: none;
    }
    .inputLabelTimber label {
	    display: inline-block;
	    width: 70px;
	    text-align: right;
    }
}
@media (max-width:650px) {
    #comAndDoorFormTimber {
       width: 340px;
    }
    #pPlusInputDoorDet4,#pPlusInputDoorDet5 {
        width: 340px;
    }
    #pPlusInputDoorDet6 {
        width: 340px;
    }
    #secondFormTimber #machChekboxTimber {
        width: 100%;
    }
    #secondFormTimber #LockAndSuppCheboxTimber {
        width: 100%;
    }
    #doorLookWrapper1Timber > div {
        width: 340px;
    }
}
@media (max-width:530px) {
    #labelFloatedYourDetails {
        margin-left:0px;
    }
    #firstFormTimber #firstInputsFloatedYourDetails input {
        width: 150px;
    }
    #labelFloatedYourDetails2 {
        margin-left:0px;
    }
    #firstForm2Timber {
        width: 270px;
    }
    #firstFormTimber #firstInputsFloatedYourDetails2 input {
        width: 150px;
    }
    #firstForm1Timber {
        width: 270px;
    }
    #firstInputsFloatedYourDetails2 {
        margin-right: 0px;
    }
    #comAndDoorFormTimber {
       width: 310px;
       margin-left: 10px;
    }
    #pPlusInputDoorDet4,#pPlusInputDoorDet5 {
        width: 310px;
        margin-left: 10px;
    }
    #pPlusInputDoorDet6 {
        width: 310px;
        margin-left: 10px;
    }
    #doorDetailsWrapperTimber #doorDetailsForm1Timber input,#doorDetailsWrapperTimber #comAndDoorForm2Timber input,#doorDetailsWrapperTimber #pPlusInputDoorDet6 input {
        width: 150px;
    }
    #doorLookWrapper1Timber > div {
        width: 310px;
        margin-left: 2px;
    }
    #secondFormTimber  #doorLookWrapper1Timber input {
        width: 150px;
    }
}
@media (max-width:400px) {
    #comAndDoorFormTimber {
       margin-left: 2px;
    }
    #pPlusInputDoorDet4,#pPlusInputDoorDet5 {
        margin-left: 2px;
    }
    #pPlusInputDoorDet6 {
        margin-left: 2px;
    }
}
@media print {
	body {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
        margin: 25mm 25mm 25mm 30mm;
	}
    #all_codes_main {
        display: none !important;
    }
	#formShareMailTimber {
	   	display: none;
	}
	#wrapperForBannerTimber {
		display: none;
	}
    section {
        width: 100%;
        display: table;
    }
	#allModelsWrapper .mainWrapper1TimberDoors {
		height: 400px ;
		float: left;
		margin: 20px 0px 120px 50px;
        display: table-cell;
	}
	#allModelsWrapper section {
		width: 1600px;
	}
	#allModelsWrapper .codeTimberDoorsH2 {
	    height: 40px;
	    line-height: 40px;
	    font-size: 18px;
    }
    #allModelsWrapper .imgMainDiv {
	    height: 280px;
	    width: 15.5%;
    }
    #allModelsWrapper .priceMainGrayHeadline {
	    height: 40px;
	    width: 400px;
    }
    #allModelsWrapper .priceMain {
        margin-left: 2px;
    }
    #allModelsWrapper .headlineGray1 {
	    width: 120px;
	    line-height: 40px;
	    font-size: 14px;
    }
    #allModelsWrapper .headlineGray2 {
	    width: 160px;
	    line-height:40px;
	    margin-left: 0px;
	    font-size: 14px;
    }
    #allModelsWrapper .headlineGray3 {
	    width: 120px;
	    line-height: 40px;
	    font-size: 14px;
    }
    #allModelsWrapper .twoLeftDivs {
	    width: 280px;
    }
    #allModelsWrapper .doorCode {
        width: 120px;
    }
    #allModelsWrapper .doorCode > div {
	    height: 40px;
	    line-height: 40px;
    }
    #allModelsWrapper .availebleTimbers {
	    width: 160px;
	    margin-left: 0px;
	    font-size: 16px;
    }
    #allModelsWrapper .availebleTimbers > div {
	    height: 40px;
	    line-height: 40px;
    }
    #allModelsWrapper .oneRightDiv {
	    width: 120px;
    }
    #allModelsWrapper .oneRightDiv > div {
	    height: 40px;
	    line-height: 40px;
    }
    #formWrapperTimber #logoDivTimber img {
        display: none;
    }
    #formWrapperTimber #faxOrdersAndEmailTimber {
        display: none;
    }
    #formWrapperTimber #faxOrdersAndEmailTimber h2 {
        display: none;
    }
    #formWrapperTimber #firstFormTimber {
        margin-bottom: 70px;
    }
    #formWrapperTimber #warrantyChekboxsesTimber {
        margin-bottom: 150px;
    }
    #formWrapperTimber #doorDetailsWrapperTimber {
        margin-bottom: 150px;
    }
    #formWrapperTimber #secondFormTimber {
        margin-bottom: 160px;
    }
     #formWrapperTimber #thirdFormTimber {
        margin-bottom: 160px;
    }
}
@page
    {
        size:  auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }
